.Layout {
	height: 100vh;
	width: 100vw;

	.Background {
		background-image: url('../../assets/images/background.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100vw;
		height: 100vh;

		position: fixed;
		z-index: -100;
	}

	.Content {
		height: 100%;

		max-width: 2048px;

		margin: 0 auto;
	}
}
